
.button 
{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAClJREFUeNpi/v//vwMTAwPDfzjBgMpFI/7hFSOT9Y8qRuF3JLoHAQIMAHYtMmRA+CugAAAAAElFTkSuQmCC");
    background-repeat: repeat-x;
    display: inline-block;
    text-decoration: none;
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25); 
            
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

.button:active
{
    top: 1px;
}

/* Color */

.orange.button
{
    background-color: #f60!important;
    color: #eee;
}

.orange.button:hover
{
    background-color: #f40!important;
}

.green.button
{
    background-color: #3a1!important;
    color: #fff;
}

.green.button:hover
{
    background-color: #4b3!important;
}

.blue.button
{
    background-color: #269!important;
    color: #fff;
}

.blue.button:hover
{
    background-color: #38c!important;
}

.red.button {
    background-color: #d11!important;
    color: #fff;
}

.red.button:hover {
    background-color: #c00!important;
}

/* Shape */

.rounded.button 
{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* Size */

.small.button
{
    padding: 2px 3px;
    font-size: 0.8em;   
}

.average.button
{
    padding: 3px 5px;
    font-size: 1em;   
}

.large.button
{
    padding: 7px 10px;
    font-size: 1.1em;   
}




